*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E9F8F9;
}

/* navbar keseluruhan */
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: transparent;

    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: 0.5s top ease-in-out;
}

/* option navbar */
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
}

/* text navbar */
nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
    padding: 5px 0;
    font-size: larger;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* logo di navbar */
nav div img{
    width: 349px;
    height: 100px;
    display: flex;
}
/* navbar di-hover */
nav ul li a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
}

/* burger icon */

.menu-icon{
    font-size: 28px;    
    display: none;
}

/* pembatasan  */
@media only screen and (max-width : 768px){
    nav{
        flex-wrap: wrap;
    }

    nav ul {
    flex-direction: column;
    width: 100%;
    /* display: none; */
    }

    .container{
        flex-direction: column;
        width: 100%;
    }


    /* buat burger jsnya */
    nav ul.hidden{
        display: none;
    }

    /* burger kl kecil */
    .menu-icon{
        display: flex;
        align-items: center;
    }
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:#FF4A4A;

}

.container{
    display: flex;
    align-items: center;
}
.heading span{
    display: inline-block;
    padding-top: 4.5rem;
    
}

.image-container {
    float: left; 
    width: 50%; 
    margin-right: 20px; 
}

.image-container img {
    width: 457px;
    height: 620px;
    padding-left: 3rem;
  }  
.text-container {
    float: left; 
    width: 50%; 
    color: #FF9551;
    font-size: 22px;
}

.text-container p {
    margin-bottom: 10px; 
  }


